<p>
  <strong><%= @recipe.user.firstName %> <%= @recipe.user.lastName %>:</strong>
  <%= comment.body %>
</p>

<% if current_user.id == @recipe.user_id %>
  <p>
    <%= link_to 'Destroy Comment', comment,
                 method: :delete,
                 data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>
