<%= form_with(model: [ @recipe, @recipe.comments.build ], local: true) do |form| %>
  <p>
    <%= form.text_area :body, :placeholder => "Add a comment..."%>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
